.card {
    width: 40%; /* Adjust the width as needed */
    padding: 15px;
    border: 1px solid #8B4513; /* Brown border */
    /*margin: 10px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D2B48C; /* Light brown background */
    border-radius: 5px;
    color: #654321; /* Dark brown text color */
}

.card div {
    margin-bottom: 10px; /* Add space between each section */
}

.card .info div:first-child {
    font-weight: bold; /* Make the first child text bold */
}

/* Style for the details button */
.card button {
    background-color: #8B4513; /* Brown background */
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #654321; /* Dark brown background on hover */
}

.detail-button i{
    margin-left: 10px;
}

.action-btn {
    margin-top: auto;
}

.edit-button {
    margin-left: auto;
}