.revisione {
    width: 200px; /* Set the fixed width */
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

.dataRev input:disabled {
    background-color: transparent; /* Light gray background */
    color: white; /* Gray text color */
    border: 1px solid #ccc; /* Light gray border */
}

select:disabled.esito {
    background-color: transparent; /* Light gray background */
    color: white; /* Gray text color */
    border: 1px solid #ccc; /* Light gray border */
}